USE [master]
GO
/****** Object:  Database [NGANHANG]    Script Date: 29/04/2024 8:34:50 CH ******/
CREATE DATABASE [NGANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NGANHANG', FILENAME = N'D:\DATA\MSSQL15.SIDE\MSSQL\DATA\NGANHANG.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NGANHANG_log', FILENAME = N'D:\DATA\MSSQL15.SIDE\MSSQL\DATA\NGANHANG_log.ldf' , SIZE = 270336KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NGANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NGANHANG]
GO
/****** Object:  User [HTKN]    Script Date: 29/04/2024 8:34:51 CH ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 29/04/2024 8:34:51 CH ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_F39E183102EE4338B1E44EEBA32644F2]    Script Date: 29/04/2024 8:34:51 CH ******/
CREATE ROLE [MSmerge_F39E183102EE4338B1E44EEBA32644F2]
GO
/****** Object:  DatabaseRole [MSmerge_454039FC027945A0BE2EAE0E2AACA0A0]    Script Date: 29/04/2024 8:34:51 CH ******/
CREATE ROLE [MSmerge_454039FC027945A0BE2EAE0E2AACA0A0]
GO
/****** Object:  DatabaseRole [MSmerge_27166F9080BC42608E2424ADA43213C0]    Script Date: 29/04/2024 8:34:51 CH ******/
CREATE ROLE [MSmerge_27166F9080BC42608E2424ADA43213C0]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_F39E183102EE4338B1E44EEBA32644F2]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_454039FC027945A0BE2EAE0E2AACA0A0]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_27166F9080BC42608E2424ADA43213C0]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 29/04/2024 8:34:51 CH ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  View [dbo].[NV_ROLE]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[NV_ROLE] AS
SELECT D2.name AS NV  , D1.name AS ROLE
 FROM sys.database_role_members AS D0  
 LEFT JOIN sys.database_principals AS D1   ON D0.role_principal_id = D1.principal_id  
 LEFT JOIN sys.database_principals AS D2   ON D0.member_principal_id = D2.principal_id  
WHERE D1.name in ('NGANHANG','CHINHANH') 
WITH CHECK OPTION;
GO
/****** Object:  View [dbo].[V_DS_PHANMANH]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_PHANMANH]
AS
SELECT PUBS.description AS TENCN, SUBS.subscriber_server AS TENSERVER
FROM     dbo.sysmergepublications AS PUBS INNER JOIN
                  dbo.sysmergesubscriptions AS SUBS ON PUBS.pubid = SUBS.pubid AND PUBS.publisher <> SUBS.subscriber_server AND PUBS.description <> 'KHACHHANG'
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MACN] [nchar](10) NOT NULL,
	[TENCN] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SoDT] [nvarchar](15) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GD_CHUYENTIEN]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_CHUYENTIEN](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK_CHUYEN] [nchar](9) NOT NULL,
	[NGAYGD] [datetime] NOT NULL,
	[SOTIEN] [money] NOT NULL,
	[SOTK_NHAN] [nchar](9) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GD_CHUYENTIEN] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GD_GOIRUT]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_GOIRUT](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK] [nchar](9) NOT NULL,
	[LOAIGD] [nchar](2) NOT NULL,
	[NGAYGD] [datetime] NOT NULL,
	[SOTIEN] [money] NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_GD_GOIRUT] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[CMND] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[PHAI] [nvarchar](3) NULL,
	[NGAYCAP] [date] NOT NULL,
	[SODT] [nvarchar](15) NOT NULL,
	[MACN] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [nchar](10) NOT NULL,
	[HO] [nvarchar](40) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[PHAI] [nvarchar](3) NOT NULL,
	[SODT] [nvarchar](15) NOT NULL,
	[MACN] [nchar](10) NULL,
	[TrangThaiXoa] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[SOTK] [nchar](9) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[SODU] [money] NULL,
	[MACN] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[SOTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiNhanh] ([MACN], [TENCN], [DIACHI], [SoDT], [rowguid]) VALUES (N'BENTHANH  ', N'Chi nhánh Bến Thành', N'211 Lê Lợi, Quận 1, TPHCM', N'..', N'd610228e-73ef-ee11-98a5-aecbb3c14a8a')
INSERT [dbo].[ChiNhanh] ([MACN], [TENCN], [DIACHI], [SoDT], [rowguid]) VALUES (N'TANDINH   ', N'Chi nhánh Tân Định', N'234 Hai Bà Trưng, phường Đakao, Quận 1, TPHCM', N'...', N'd710228e-73ef-ee11-98a5-aecbb3c14a8a')
GO
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid]) VALUES (N'112233445 ', N'Truong', N'Th? S', N'39 Ðu?ng ZAB', N'N?', CAST(N'2023-04-17' AS Date), N'0112233445', N'BENTHANH  ', N'7d9e6e6c-b004-ef11-98af-93e8edbe6dd8')
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid]) VALUES (N'112233446 ', N'Hoàng', N'Van Y', N'29 Ðu?ng PQR', N'Nam', CAST(N'2023-07-22' AS Date), N'0112233446', N'BENTHANH  ', N'829e6e6c-b004-ef11-98af-93e8edbe6dd8')
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid]) VALUES (N'112233447 ', N'Ph?m', N'Th? N', N'80 Ðu?ng FGH', N'N?', CAST(N'2023-12-09' AS Date), N'0112233447', N'BENTHANH  ', N'879e6e6c-b004-ef11-98af-93e8edbe6dd8')
GO
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [CMND], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'NV0001    ', N'DAO PHAN QUOC', N'HOAI', N'9812398734', N'BẾN TRE', N'NAM', N'0779127667', N'BENTHANH  ', 0, N'4aace0e4-6604-ef11-98af-93e8edbe6dd8')
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [CMND], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'NV0002    ', N'LE DUC', N'THAI', N'6512317823', N'QUẢNG TRỊ', N'NAM', N'0612387123', N'BENTHANH  ', 0, N'd5844bf5-6604-ef11-98af-93e8edbe6dd8')
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [CMND], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'NV0003    ', N'HOANG LINH', N'DIEP', N'8716231275', N'GIA LAI', N'NU', N'0871237512', N'BENTHANH  ', 0, N'47a0fc08-6704-ef11-98af-93e8edbe6dd8')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_ChiNhanh]    Script Date: 29/04/2024 8:34:51 CH ******/
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [UK_ChiNhanh] UNIQUE NONCLUSTERED 
(
	[TENCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_581577110]    Script Date: 29/04/2024 8:34:51 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_581577110] ON [dbo].[ChiNhanh]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_613577224]    Script Date: 29/04/2024 8:34:51 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_613577224] ON [dbo].[GD_CHUYENTIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_645577338]    Script Date: 29/04/2024 8:34:51 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_645577338] ON [dbo].[GD_GOIRUT]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_677577452]    Script Date: 29/04/2024 8:34:51 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_677577452] ON [dbo].[KhachHang]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_709577566]    Script Date: 29/04/2024 8:34:51 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_709577566] ON [dbo].[NhanVien]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_757577737]    Script Date: 29/04/2024 8:34:51 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_757577737] ON [dbo].[TaiKhoan]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [MSmerge_df_rowguid_C0B3ED30DD80420D94E136CD5052B049]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] ADD  CONSTRAINT [DF_GD_CHUYENTIEN_NGAYGD]  DEFAULT (getdate()) FOR [NGAYGD]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_2C943A0B26BE4CBF9015499ED76FAF14]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [DF_GD_GOIRUT_NGAYGD]  DEFAULT (getdate()) FOR [NGAYGD]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [DF_GD_GOIRUT_SOTIEN]  DEFAULT ((100000)) FOR [SOTIEN]
GO
ALTER TABLE [dbo].[GD_GOIRUT] ADD  CONSTRAINT [MSmerge_df_rowguid_DB436BCB3BE54C1FBBD9A44DAE686EAF]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [MSmerge_df_rowguid_76D4EB3E94D649B19A736D4C72DAF1BF]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF_NhanVien_PHAI]  DEFAULT (N'Nam') FOR [PHAI]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [MSmerge_df_rowguid_7AA270ADEF114B73B2C479949CE43BC8]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((0)) FOR [SODU]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [MSmerge_df_rowguid_BEEFA1A825154674A138D63788BF6568]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_NhanVien]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan] FOREIGN KEY([SOTK_CHUYEN])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan1] FOREIGN KEY([SOTK_NHAN])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan1]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_NhanVien]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_TaiKhoan] FOREIGN KEY([SOTK])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_TaiKhoan]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_ChiNhanh]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_ChiNhanh]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_KhachHang] FOREIGN KEY([CMND])
REFERENCES [dbo].[KhachHang] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_KhachHang]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [CK_GD_CHUYENTIEN] CHECK  (([SOTIEN]>(0)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [CK_GD_CHUYENTIEN]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_9B7523B0_1202_4144_AA00_BE4B5BBB96D6] CHECK NOT FOR REPLICATION (([MAGD]>=(1) AND [MAGD]<=(1001) OR [MAGD]>(1001) AND [MAGD]<=(2001)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [repl_identity_range_9B7523B0_1202_4144_AA00_BE4B5BBB96D6]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_LOAIGD] CHECK  (([LOAIGD]='RT' OR [LOAIGD]='GT'))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_LOAIGD]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_SOTIEN] CHECK  (([SOTIEN]>=(100000)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_SOTIEN]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_B8E36036_46E3_4F22_855B_A25EE67E4DD7] CHECK NOT FOR REPLICATION (([MAGD]>=(1) AND [MAGD]<=(1001) OR [MAGD]>(1001) AND [MAGD]<=(2001)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [repl_identity_range_B8E36036_46E3_4F22_855B_A25EE67E4DD7]
GO
/****** Object:  StoredProcedure [dbo].[frmChuyenNV_MoveEmployee]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[frmChuyenNV_MoveEmployee] @MANVCU NCHAR(10), @MANV NCHAR(10), @MACN NCHAR(10)
AS
BEGIN
	SET XACT_ABORT ON;
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

	DECLARE @LGNAME VARCHAR(50);
	DECLARE @USERNAME VARCHAR(50);
	DECLARE @LINK VARCHAR(10);
	DECLARE @TCN NCHAR(10);
	SET @LINK = (SELECT m.name FROM msdb.sys.servers as m WHERE m.product = @MACN);
	SET @LGNAME = (SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = @MANVCU);
	SET @USERNAME = @MANVCU;
		BEGIN DISTRIBUTED TRAN
			DECLARE @CMT NVARCHAR(1000);
			SET @CMT = 'SELECT MANV FROM ' +  @LINK + '.NGANHANG.dbo.NhanVien WHERE MANV = ''' + @MANV + '''AND TrangThaiXoa=1';
			EXEC sp_executesql  @CMT;
			IF @@ROWCOUNT > 0
			BEGIN
				SET @CMT = 'UPDATE ' + @LINK + '.NGANHANG.dbo.NhanVien
				SET TrangThaiXoa = 0
				WHERE MANV =''' + @MANV + '''';
				EXEC sp_executesql  @CMT;
				UPDATE NhanVien
				SET TrangThaiXoa = 1
				WHERE MANV = @MANVCU;
			END
			ELSE 
			BEGIN
				SET @CMT = 'SELECT MANV FROM ' + @LINK + '.NGANHANG.dbo.NhanVien WHERE MANV = ''' + @MANV + '''AND TrangThaiXoa=0';
				EXEC sp_executesql  @CMT;
				IF @@ROWCOUNT > 0
					THROW 50000, N'Nhân viên cần chuyển đang hoạt động ở chi nhánh cần chuyển tới rồi, nên không thể chuyển nữa', 16;	
				ELSE
				BEGIN
					SET @CMT = 'SELECT TOP 1 MACN FROM ' + @LINK + '.NGANHANG.dbo.NhanVien';
					CREATE TABLE #ChiNhanhTemp (MACN NCHAR(10));
					INSERT INTO #ChiNhanhTemp EXEC sp_executesql @CMT;
					SELECT @TCN = MACN FROM #ChiNhanhTemp;
					DROP TABLE #ChiNhanhTemp
					SET @CMT = 'INSERT INTO ' +  @LINK + '.NGANHANG.dbo.NhanVien (MANV, HO, TEN,CMND, DIACHI, PHAI, SODT, MACN, TRANGTHAIXOA)
					(
						SELECT MANV = ''' + @MANV + ''', HO, TEN,CMND, DIACHI, PHAI, SODT, MACN = ''' + @TCN + ''', TRANGTHAIXOA
						FROM dbo.NhanVien
						WHERE MANV = ''' + @MANVCU + '''
					)'; 
					EXEC sp_executesql  @CMT;
					UPDATE dbo.NhanVien
					SET TrangThaiXoa = 1
					WHERE MANV = @MANVCU;
				END
			END		
		COMMIT TRAN;
		IF EXISTS(SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = @MANVCU)
		BEGIN
			DECLARE @CrsrVar CURSOR, @Str NCHAR(50) , @ID INT						
			SET @CrsrVar=CURSOR KEYSET FOR 
				SELECT session_id FROM sys.dm_exec_sessions
				WHERE login_name = @LGNAME
			OPEN @CrsrVar
			FETCH NEXT FROM @CrsrVar INTO @ID
			WHILE(@@FETCH_STATUS <>-1)
			BEGIN
				SET @Str = 'KILL ' + CAST(@ID AS VARCHAR(5))
				EXEC(@Str)				
				FETCH NEXT FROM @CrsrVar INTO @ID
			END		
			EXEC SP_DROPLOGIN  @LGNAME;
			EXEC SP_DROPUSER @MANVCU;
			CLOSE @CrsrVar 
			DEALLOCATE @CrsrVar
		END
END




GO
/****** Object:  StoredProcedure [dbo].[frmChuyenNV_UpdateChiNhanhChuyen_SongSong]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[frmChuyenNV_UpdateChiNhanhChuyen_SongSong] @MANVCU NCHAR(10), @MANV NCHAR(10), @MACN NCHAR(10)
AS
BEGIN
	DECLARE @LINK VARCHAR(10);
	DECLARE @TCN NCHAR(10);
	SET @LINK = (SELECT m.name FROM msdb.sys.servers as m WHERE m.product = @MACN);
	DECLARE @CMT NVARCHAR(1000);
	SET @CMT = 'SELECT MANV FROM ' +  @LINK + '.NGANHANG.dbo.NhanVien WHERE MANV = ''' + @MANV + '''AND TrangThaiXoa=1';
	EXEC sp_executesql  @CMT;
	IF @@ROWCOUNT > 0
	BEGIN
		SET @CMT = 'UPDATE ' + @LINK + '.NGANHANG.dbo.NhanVien
		SET TrangThaiXoa = 0
		WHERE MANV =''' + @MANV + '''';
		EXEC sp_executesql  @CMT;
	END
	ELSE 
	BEGIN
		SET @CMT = 'SELECT MANV FROM ' + @LINK + '.NGANHANG.dbo.NhanVien WHERE MANV = ''' + @MANV + '''AND TrangThaiXoa=0';
		EXEC sp_executesql  @CMT;
		IF @@ROWCOUNT > 0
			THROW 50000, N'Nhân viên cần chuyển đang hoạt động ở chi nhánh cần chuyển tới rồi, nên không thể chuyển nữa', 16;	
		ELSE
		BEGIN
			SET @CMT = 'SELECT TOP 1 MACN FROM ' + @LINK + '.NGANHANG.dbo.NhanVien';
			CREATE TABLE #ChiNhanhTemp (MACN NCHAR(10));
			INSERT INTO #ChiNhanhTemp EXEC sp_executesql @CMT;
			SELECT @TCN = MACN FROM #ChiNhanhTemp;
			DROP TABLE #ChiNhanhTemp
			SET @CMT = 'INSERT INTO ' +  @LINK + '.NGANHANG.dbo.NhanVien (MANV, HO, TEN,CMND, DIACHI, PHAI, SODT, MACN, TRANGTHAIXOA)
			(
				SELECT MANV = ''' + @MANV + ''', HO, TEN,CMND, DIACHI, PHAI, SODT, MACN = ''' + @TCN + ''', TRANGTHAIXOA
				FROM dbo.NhanVien
				WHERE MANV = ''' + @MANVCU + '''
			)'; 
			EXEC sp_executesql  @CMT;
		END
	END		
END
GO
/****** Object:  StoredProcedure [dbo].[frmChuyenNV_UpdateChiNhanhHienTai_SongSong]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[frmChuyenNV_UpdateChiNhanhHienTai_SongSong] @MANVCU NCHAR(10)
AS
BEGIN
		UPDATE NhanVien
		SET TrangThaiXoa = 1
		WHERE MANV = @MANVCU;
		-- thực hiện xóa tài khoản trên db
		DECLARE @LGNAME VARCHAR(50);
		DECLARE @USERNAME VARCHAR(50);
		SET @LGNAME = (SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = @MANVCU);
		SET @USERNAME = @MANVCU;
		IF EXISTS(SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = @MANVCU)
		BEGIN
			EXEC frmCreateLogin_DeleteLoginForEmployee @LGNAME , @USERNAME 
		END
END

GO
/****** Object:  StoredProcedure [dbo].[frmCreateLogin_CreateLoginForEmployee]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[frmCreateLogin_CreateLoginForEmployee] @LGNAME VARCHAR(50), @PASS VARCHAR(50), @USERNAME VARCHAR(50), @ROLE VARCHAR(50)
AS
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'NGANHANG'
  --
  EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
  --
  IF (@RET =1)  -- LOGIN NAME BI TRUNG
     RETURN 1
 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 2
  END
  EXEC sp_addrolemember @ROLE, @USERNAME
  EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
RETURN 0  
GO
/****** Object:  StoredProcedure [dbo].[frmCreateLogin_DeleteLoginForEmployee]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[frmCreateLogin_DeleteLoginForEmployee] @LGNAME VARCHAR(50), @USERNAME VARCHAR(50)
AS
BEGIN
    -- Chấm dứt các phiên đăng nhập đang sử dụng đăng nhập LT
    DECLARE @SessionID INT;
    DECLARE @KillCommand NVARCHAR(100);

    DECLARE session_cursor CURSOR FOR
    SELECT session_id FROM sys.dm_exec_sessions WHERE login_name = @LGNAME;

    OPEN session_cursor;
    FETCH NEXT FROM session_cursor INTO @SessionID;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Chỉ chấm dứt các phiên đăng nhập khác với phiên hiện tại
        IF @SessionID <> @@SPID
        BEGIN
            SET @KillCommand = 'KILL ' + CAST(@SessionID AS NVARCHAR(10));
            EXEC sp_executesql @KillCommand;
        END

        FETCH NEXT FROM session_cursor INTO @SessionID;
    END

    CLOSE session_cursor;
    DEALLOCATE session_cursor;

    -- Xóa người dùng khỏi cơ sở dữ liệu
    IF EXISTS (SELECT 1 FROM sys.database_principals WHERE name = @USERNAME)
    BEGIN
        EXEC SP_DROPUSER @USERNAME;
    END

    -- Xóa đăng nhập
    IF EXISTS (SELECT 1 FROM sys.server_principals WHERE name = @LGNAME)
    BEGIN
        EXEC SP_DROPLOGIN @LGNAME;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[frmCreateLogin_DuplicateLOGIN]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[frmCreateLogin_DuplicateLOGIN] @TENLOGIN NVARCHAR (50), @ROLE NVARCHAR (50)
AS
DECLARE @Table TABLE
(
   /*TABLE DEFINITION*/
   TENLOGIN NVARCHAR (20),
   MANV Nvarchar(20),
   HOTEN Nvarchar(20),
   ROLE varchar(20)
)
INSERT INTO @Table 
EXEC frmCreateLogin_GetLoginsOfBranch @ROLE
BEGIN
	SELECT TENLOGIN FROM @Table WHERE TENLOGIN =@TENLOGIN
END
GO
/****** Object:  StoredProcedure [dbo].[frmCreateLogin_GetEmployeeNotHaveLogin]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[frmCreateLogin_GetEmployeeNotHaveLogin]
AS
BEGIN
SELECT * FROM NhanVien 
WHERE NOT EXISTS (SELECT NAME FROM sys.sysusers WHERE NAME = MANV) AND TrangThaiXoa = 0
END
GO
/****** Object:  StoredProcedure [dbo].[frmCreateLogin_GetLoginsOfBranch]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[frmCreateLogin_GetLoginsOfBranch] @ROLE VARCHAR(50) AS
BEGIN
	SELECT MASTER.name AS TENLOGIN, SYS.name AS MANV, HO+ ' '+ TEN AS HOTEN, VI.ROLE AS ROLE
	FROM [master].[sys].[sql_logins] AS MASTER
	LEFT JOIN sys.sysusers AS SYS 
	ON MASTER.sid = SYS.sid 
	LEFT JOIN NhanVien
	ON MANV = SYS.name 
	LEFT JOIN NV_ROLE AS VI
	ON MANV=VI.NV
	WHERE SYS.name<>'null' and SYS.name <>'HTKN' and MASTER.name <>'sa' AND VI.ROLE = @ROLE
	ORDER BY MASTER.name
END
GO
/****** Object:  StoredProcedure [dbo].[frmKhachHang_DuplicateCMND]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[frmKhachHang_DuplicateCMND] @CMND NVARCHAR (10)
AS
IF  EXISTS(SELECT CMND FROM KhachHang WHERE CMND =@CMND)
BEGIN
	SELECT CMND FROM KhachHang WHERE CMND = @CMND
END
ELSE
IF  EXISTS(SELECT CMND FROM LINK2.NGANHANG.DBO.KhachHang WHERE CMND =@CMND)
BEGIN
SELECT CMND FROM LINK2.NGANHANG.DBO.KhachHang WHERE CMND = @CMND
END
GO
/****** Object:  StoredProcedure [dbo].[frmKhachHang_ExistsAccount]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[frmKhachHang_ExistsAccount] @CMND NVARCHAR (50)
AS
BEGIN
	SELECT CMND FROM TaiKhoan WHERE CMND = @CMND
END
GO
/****** Object:  StoredProcedure [dbo].[frmNhanVien_duplicateMANV]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[frmNhanVien_duplicateMANV] @MANV NVARCHAR (50)
AS
IF  EXISTS(SELECT MANV FROM NhanVien WHERE MANV =@MANV)
BEGIN
	SELECT MANV FROM NhanVien WHERE MANV = @MANV
END
ELSE
BEGIN
SELECT MANV FROM LINK0.NGANHANG.DBO.NhanVien WHERE MANV = @MANV
END
GO
/****** Object:  StoredProcedure [dbo].[frmNhanVien_ExistsAccount]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[frmNhanVien_ExistsAccount] @MANV NCHAR(10)
as begin 
	declare @SID varbinary(16)
	 SELECT @SID = SID FROM sysusers WHERE NAME = @MANV

    IF @SID IS NOT NULL
    BEGIN 
        SELECT SUSER_SNAME(@SID)
    END
end
GO
/****** Object:  StoredProcedure [dbo].[KiemTraCMNDTrungNhanVien]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[KiemTraCMNDTrungNhanVien] @CMND nchar(10)
as
begin
	if exists( select CMND from NhanVien where CMND = @CMND)
	begin 
		select CMND from NhanVien where CMND = @CMND
	end 
	else if exists( select CMND from Link0.NganHang.dbo.NhanVien as NV where NV.CMND = @CMND)
	begin 
		select CMND from Link0.NganHang.dbo.NhanVien as NV where NV.CMND = @CMND
	end 
end 
GO
/****** Object:  StoredProcedure [dbo].[KiemTraNhanVienXoaChua]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[KiemTraNhanVienXoaChua] @MANV nchar(10)
as
begin 
	if exists( select MANV from NhanVien where @MANV = MANV and TrangThaiXoa = 1 )
	begin
		select MANV from NhanVien where @MANV = MANV and TrangThaiXoa = 1
	end 
end 
GO
/****** Object:  StoredProcedure [dbo].[SP_CAPNHAT_SONG_SONG]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CAPNHAT_SONG_SONG] 
@MANVCU NCHAR(10), @MANV NCHAR(10), @MACN NCHAR(10)
AS 
BEGIN 
	SET XACT_ABORT ON 
	BEGIN DISTRIBUTED TRANSACTION
	DECLARE @STR1 NVARCHAR(4000)
	SET @STR1 = 'EXEC [dbo].[frmChuyenNV_UpdateChiNhanhHienTai_SongSong] ' + '''' +  @MANVCU + '''';
	IF EXISTS (SELECT JOB_ID FROM msdb.DBO.sysjobs_view WHERE NAME = N'Job_ChuyenNhanVien')
	BEGIN
		EXEC msdb.dbo.sp_delete_job @job_name = N'Job_ChuyenNhanVien'
	END

	EXECUTE msdb.dbo.sp_add_job @job_name = N'Job_ChuyenNhanVien', @start_step_id = 1
	EXECUTE msdb.dbo.sp_add_jobserver @job_name = N'Job_ChuyenNhanVien', @server_name = @@SERVERNAME
	EXECUTE msdb.dbo.sp_add_jobstep @job_name = N'Job_ChuyenNhanVien', @step_id = 1, @step_name = 'ChuyenNhanVien',
		@command = @STR1, @server = @@SERVERNAME, @database_name = 'NGANHANG'
	EXECUTE msdb.dbo.sp_start_job @job_name = N'Job_ChuyenNhanVien'


	EXEC [dbo].[frmChuyenNV_UpdateChiNhanhChuyen_SongSong] @MANVCU,@MANV, @MACN
	SELECT N'ĐÃ CHUYỂN NHÂN VIÊN'
	COMMIT TRANSACTION;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LayThongTinNhanVien]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LayThongTinNhanVien]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50), @UID INT
SELECT @UID= UID, @TENUSER=NAME FROM sys.sysusers 
     WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT MANV = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM NHANVIEN  WHERE MANV = @TENUSER ),
   TENNHOM= NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= @UID)
GO
/****** Object:  StoredProcedure [dbo].[SP_LietKeKhachHang]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LietKeKhachHang] @LOAI VARCHAR(1), @MACN NCHAR(10)
AS
BEGIN
IF @MACN IN (SELECT MACN FROM LINK2.NGANHANG.DBO.KHACHHANG)
	BEGIN
		IF (@LOAI ='T')
			SELECT CMND, HO+' '+TEN AS HOTEN, DIACHI,SODT,NGAYCAP,MACN FROM LINK2.NGANHANG.DBO.KHACHHANG
		ELSE IF (@LOAI ='C')
			SELECT CMND, HO+' '+TEN AS HOTEN, DIACHI,SODT,NGAYCAP,MACN FROM LINK2.NGANHANG.DBO.KHACHHANG WHERE @MACN=MACN
	END
--ELSE 
	--BEGIN
		--IF (@LOAI ='T')
			--SELECT CMND, HO+' '+TEN AS HOTEN, DIACHI,SODT,NGAYCAP,MACN FROM LINK0.NGANHANG.DBO.KHACHHANG
		--ELSE IF (@LOAI ='C')
			--SELECT CMND, HO+' '+TEN AS HOTEN, DIACHI,SODT,NGAYCAP,MACN FROM LINK0.NGANHANG.DBO.KHACHHANG WHERE @MACN=MACN
	--END
END
GO
/****** Object:  StoredProcedure [dbo].[TerminateSessionsForLogin]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TerminateSessionsForLogin]
@LoginName NVARCHAR(128)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @SessionID INT;
    DECLARE @KillCommand NVARCHAR(100); -- Biến để lưu lệnh KILL

    DECLARE session_cursor CURSOR FOR
    SELECT session_id FROM sys.dm_exec_sessions WHERE login_name = @LoginName;

    OPEN session_cursor;
    FETCH NEXT FROM session_cursor INTO @SessionID;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            -- Check if session_id is not equal to @@SPID (current session)
            IF @SessionID <> @@SPID
            BEGIN
                SET @KillCommand = 'KILL ' + CAST(@SessionID AS NVARCHAR(10));
                EXEC sp_executesql @KillCommand; -- Thực thi lệnh KILL
            END
        END TRY
        BEGIN CATCH
            -- Handle errors if necessary
            PRINT 'Error occurred while terminating session ' + CAST(@SessionID AS NVARCHAR(10));
        END CATCH

        FETCH NEXT FROM session_cursor INTO @SessionID;
    END

    CLOSE session_cursor;
    DEALLOCATE session_cursor;
END
GO
/****** Object:  StoredProcedure [dbo].[thayDoiToanBoEmail]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[thayDoiToanBoEmail] @CMND NCHAR(10), @CMND_CU NCHAR(10)
AS
BEGIN
	SET XACT_ABORT ON;
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
	IF EXISTS( SELECT MANV FROM LINK0.NGANHANG.DBO.NHANVIEN WHERE CMND = @CMND_CU )
	BEGIN
		UPDATE LINK0.NGANHANG.DBO.NHANVIEN
		SET CMND = @CMND
		WHERE CMND = @CMND_CU
	END
	ELSE
	BEGIN
		THROW 50000, N'NHÂN VIÊN ĐANG ĐƯỢC ĐỒNG BỘ, VUI LÒNG THỬ LẠI SAU', 16;	
	END
END
GO
/****** Object:  StoredProcedure [dbo].[timMaNV]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[timMaNV]
AS 
BEGIN 
	SET XACT_ABORT ON;
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
	DECLARE @NUMBER1 INT;
	DECLARE @NUMBER2 INT;

	SELECT @NUMBER1 = ISNULL(MAX(CAST(SUBSTRING(MANV, 3, LEN(MANV)) AS INT)), 0) + 1
	FROM LINK0.NGANHANG.dbo.NhanVien;

	SELECT @NUMBER2 = ISNULL(MAX(CAST(SUBSTRING(MANV, 3, LEN(MANV)) AS INT)), 0) + 1
	FROM NhanVien;

	DECLARE @NewNumber INT;
    SET @NewNumber = CASE 
                        WHEN @NUMBER1 >= @NUMBER2 THEN @NUMBER1 
                        ELSE @NUMBER2 
                    END;

    DECLARE @NewCode NVARCHAR(10);
    IF @NewNumber <= 9999
        SET @NewCode = 'NV' + RIGHT('000' + CAST(@NewNumber AS NVARCHAR(4)), 4);
    ELSE
        SET @NewCode = 'NV' + CAST(@NewNumber AS NVARCHAR(10));

    SELECT @NewCode AS ColMax;
END
GO
/****** Object:  StoredProcedure [dbo].[timMANV_ChuyenNhanVien]    Script Date: 29/04/2024 8:34:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[timMANV_ChuyenNhanVien] 
    @MANVCU NCHAR(10), 
    @MACN NCHAR(10)
AS
BEGIN
    SET XACT_ABORT ON;
    SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

    DECLARE @CMND NCHAR(10);

    SET @CMND = (SELECT n.CMND FROM NhanVien n WHERE n.MANV = @MANVCU);
	DECLARE @MANV NCHAR(10); -- Biến để lưu giữ giá trị MANV
	DECLARE @LINK VARCHAR(10);
    SET @LINK = (SELECT m.name FROM msdb.sys.servers m WHERE m.product = @MACN);
    DECLARE @CMT NVARCHAR(1000);
    SET @CMT = 'SELECT MANV FROM ' +  @LINK + '.NGANHANG.dbo.NhanVien WHERE CMND = ''' + @CMND + '''';
    -- Thực hiện truy vấn để kiểm tra xem MANV có tồn tại trên linked server không
    CREATE TABLE #NhanVienTemp (MANV NCHAR(10));
	INSERT INTO #NhanVienTemp EXEC sp_executesql @CMT;
	SELECT @MANV = MANV FROM #NhanVienTemp;
	DROP TABLE #NhanVienTemp
    -- Nếu MANV tồn tại trên linked server
    IF @MANV IS NOT NULL
	BEGIN
		SELECT @MANV
	END
	ELSE
		BEGIN
	        -- Tự tạo một MANV mới
			EXEC @MANV = [dbo].[timMaNV];
		END
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'‘GT’ : gởi tiền vào TK , ‘RT’ : rút tiền khỏi TK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GD_GOIRUT', @level2type=N'COLUMN',@level2name=N'LOAIGD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -120
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PUBS"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 296
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SUBS"
            Begin Extent = 
               Top = 175
               Left = 48
               Bottom = 338
               Right = 346
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_DS_PHANMANH'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_DS_PHANMANH'
GO
USE [master]
GO
